<!DOCTYPE HTML>

<html><head>
    <title>My Maps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
	<link rel="stylesheet" type="text/css" href="leaflet.css">
	<link rel="stylesheet" type="text/css" href="leaflet-geoman.css">
	<script type="text/javascript" src="custom_styles.js"></script>
<!--	<link rel="stylesheet" type="text/css" href="leaflet.draw.css">-->
<!--	<link rel="stylesheet" type="text/css" href="leaflet.draw-src.css">-->
    <script type="text/javascript" src='leaflet.js'></script>
    <script type="text/javascript" src="rastercoord.js"></script>
    <script type="text/javascript" src="ajax.js"></script>
    <script type="text/javascript" src="icons.js"></script>
<!--    <script type="text/javascript" src="recon_icons.js"></script>-->
    <script type="text/javascript" src="leaflet-geoman.min.js"></script>
<!--    <script type="text/javascript" src="map.js"></script>-->
<!--    <script type="text/javascript" src="leaflet.draw.js"></script>-->
	<style> #map { height: 800px; }	</style>
</head><body>
<div id='map'></div>
<input class="favorite styled"
       type="button"
       value="Save drawings"
           id='saveButton'>

<script type="text/javascript">

var removed_features = [];

function getMethods(obj)
{
    var res = [];
    for(var m in obj) {
        if(typeof obj[m] == "function") {
            res.push(m)
        }
    }
    return res;
}
var ratio = 0.155;
var getName = function(layer) {
        var name = prompt('Enter additional intel', '');
        return name;
    };

var map = L.map('map', {
    center: [0, 0],
    zoom: 1,
    crs: L.CRS.Simple
    });

var tif_map = L.tileLayer('http://localhost:5000/megatree/{z}/{y}/{x}', {
	    maxZoom: 7,
        attribution: 'Astrosias',
        drawControl: true
	}).addTo(map);

map.setView( [-1000, 1000], 1);

geojsonLayerWarapi.addTo(map);
geojsonLayerRecon.addTo(map);

map.pm.addControls({
  position: 'topleft',
});

map.pm.Toolbar.copyDrawControl('Marker', {
  name: 'obsBunkerT3Colonial',
  block: 'custom',
  title: 'Concrete observation bunker',
});
map.pm.Toolbar.copyDrawControl('Marker', {
  name: 'obsBunkerT2Colonial',
  block: 'custom',
  title: 'T2 Colonial observation bunker',
});
map.pm.Toolbar.copyDrawControl('Marker', {
  name: 'obsBunkerT1Colonial',
  block: 'custom',
  title: 'Colonial Watchtower',
});
map.pm.Toolbar.copyDrawControl('Polygon', {
  name: 'facilityColonial',
  block: 'custom',
  title: 'Colonial Facility Complex',
});
map.pm.Toolbar.copyDrawControl('Polyline', {
  name: 'defense1Colonial',
  block: 'custom',
  title: 'Colonial Defenses: Pillboxes or very bad bunker',
});
map.pm.Toolbar.copyDrawControl('Polyline', {
  name: 'defense2Colonial',
  block: 'custom',
  title: 'Colonial Defenses: Hard to pass',
});
map.pm.Toolbar.copyDrawControl('Polyline', {
  name: 'defense3Colonial',
  block: 'custom',
  title: 'Colonial Defenses: Concrete, impossible to cross',
});
map.pm.Toolbar.copyDrawControl('Polyline', {
  name: 'rails',
  block: 'custom',
  title: 'Railroad',
});
map.pm.Toolbar.copyDrawControl('Polyline', {
  name: 'partisanRoad',
  block: 'custom',
  title: 'Partisan path',
});
map.pm.addControls({
drawControls: false
});

map.on('pm:create', (e)=>{
    console.log(e);
    var name = getName(e.layer);
    e.layer.bindPopup(name);
    if(e.shape === 'obsBunkerT3Colonial'){
     e.layer.setIcon(forgeIcon('Watchtower', 'COLONIALS'));
     var circle_tmp = L.circle(e.layer.getLatLng(), {weight:0, radius:ratio*180});
     circle_tmp.addTo(map);
  }
  else if(e.shape === 'obsBunkerT2Colonial'){
     e.layer.setIcon(forgeIcon('Watchtower', 'COLONIALS'));
     var circle_tmp = L.circle(e.layer.getLatLng(), {weight:0, radius:ratio*120});
     circle_tmp.addTo(map);
  }
  else if(e.shape === 'obsBunkerT1Colonial'){
     e.layer.setIcon(forgeIcon('Watchtower', 'COLONIALS'));
     var circle_tmp = L.circle(e.layer.getLatLng(), {weight:0, radius:ratio*80});
     circle_tmp.addTo(map);
  }
  else if(styledNames.includes(e.shape)){
     e.layer.setStyle(getStyle(e.shape));
  }
});

map.on('pm:remove', e => {
    // do stuff regarding the removed feature
    if (!(Object.hasOwn(e.layer, '_drawnByGeoman'))){
        console.log(e.layer.feature);
        removed_features.push(e.layer.feature);
        console.log(removed_features[0]);
    }
});

function saveDrawing(){
console.log("Saving drawings");
var layers = L.PM.Utils.findLayers(map);
var group = [];
layers.forEach((layer)=>{
    if (Object.hasOwn(layer, '_drawnByGeoman')){
        layer_ = layer.toGeoJSON();
        if (layer._popup !== null){
                console.log(layer._popup._content);
                layer_.properties.popup =  layer._popup._content;
        }
        layer_.properties.shape = layer.pm._shape;
        group.push(layer_);
    }
});

var jsonObject = new Object();
jsonObject.type = "FeatureCollection";
jsonObject.features = group;
console.log(jsonObject);
export2txt(jsonObject, "recon.geojson");

var group = [];
console.log(removed_features);
    for (i in removed_features){
        feature = removed_features[i];
        console.log(feature);
        group.push(feature);
    };

var jsonObject = new Object();
jsonObject.type = "FeatureCollection";
jsonObject.features = group;
console.log(jsonObject);
export2txt(jsonObject, "removed.geojson");
}

document.getElementById("saveButton").onclick = saveDrawing;


</script>
</body></html>