<!DOCTYPE HTML>

<html><head>
    <title>My Maps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
	<link rel="stylesheet" type="text/css" href="leaflet.css">
	<link rel="stylesheet" type="text/css" href="leaflet-geoman.css">
<!--	<link rel="stylesheet" type="text/css" href="leaflet.draw.css">-->
<!--	<link rel="stylesheet" type="text/css" href="leaflet.draw-src.css">-->
    <script type="text/javascript" src='leaflet.js'></script>
    <script type="text/javascript" src="rastercoord.js"></script>
    <script type="text/javascript" src="ajax.js"></script>
    <script type="text/javascript" src="icons.js"></script>
<!--    <script type="text/javascript" src="recon_icons.js"></script>-->
    <script type="text/javascript" src="leaflet-geoman.min.js"></script>
    <script type="text/javascript" src="map.js"></script>
<!--    <script type="text/javascript" src="leaflet.draw.js"></script>-->
	<style> #map { height: 800px; }	</style>
</head><body>
<div id='map'></div>
<input class="favorite styled"
       type="button"
       value="Add to favorites"
           id='saveButton'>

<script type="text/javascript">
function getMethods(obj)
{
    var res = [];
    for(var m in obj) {
        if(typeof obj[m] == "function") {
            res.push(m)
        }
    }
    return res;
}
var ratio = 0.5;
var getName = function(layer) {
        var name = prompt('Enter additional intel', '');
        return name;
    };

var collection = {
    "type": "FeatureCollection",
    "features": []
};

var map = L.map('map', {
    center: [0, 0],
    zoom: 1,
    crs: L.CRS.Simple
    });

var tif_map = L.tileLayer('http://localhost:5000/megatree/{z}/{y}/{x}', {
	    maxZoom: 7,
        attribution: 'Astrosias',
        drawControl: true
	}).addTo(map);

map.setView( [-1000, 1000], 1);

geojsonLayerWarapi.addTo(map);

map.pm.addControls({
  position: 'topleft',
});

map.pm.Toolbar.copyDrawControl('Marker', {
  name: 'obsBunkerT3',
  block: 'custom',
  title: 'Concrete observation bunker',
});
map.pm.Toolbar.copyDrawControl('Marker', {
  name: 'obsBunkerT2',
  block: 'custom',
  title: 'T2 observation bunker',
});
map.pm.Toolbar.copyDrawControl('Marker', {
  name: 'obsBunkerT1',
  block: 'custom',
  title: 'Watchtower',
});
map.pm.addControls({
drawControls: false
});

map.on('pm:create', (e)=>{
    console.log(e);
    var name = getName(e.layer);
    e.layer.bindPopup(name);
    if(e.shape === 'obsBunkerT3'){
     e.layer.setIcon(forgeIcon('Watchtower', 'COLONIALS'));
     var circle_tmp = L.circle(e.layer.getLatLng(), {weight:0, radius:ratio*180});
     circle_tmp.addTo(map);
  }
  else if(e.shape === 'obsBunkerT2'){
     e.layer.setIcon(forgeIcon('Watchtower', 'COLONIALS'));
     var circle_tmp = L.circle(e.layer.getLatLng(), {weight:0, radius:ratio*120});
     circle_tmp.addTo(map);
  }
  else if(e.shape === 'obsBunkerT1'){
     e.layer.setIcon(forgeIcon('Watchtower', 'COLONIALS'));
     var circle_tmp = L.circle(e.layer.getLatLng(), {weight:0, radius:ratio*80});
     circle_tmp.addTo(map);
  }
});


function saveDrawing(){
console.log("Saving drawings");
var layers = L.PM.Utils.findLayers(map);
var group = L.featureGroup();
layers.forEach((layer)=>{
    group.addLayer(layer);
});
shapes = group.toGeoJSON();
}

document.getElementById("saveButton").onclick = saveDrawing;


</script>
</body></html>